<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.dh.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>com.dh.servlet.LoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dh.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XmlFileServlet</servlet-name>
    <servlet-class>com.dh.servlet.XmlFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.dh.servlet.JsonServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/loadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XmlFileServlet</servlet-name>
    <url-pattern>/xmlFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/jsonServlet</url-pattern>
  </servlet-mapping>

</web-app>